@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #fbfbfe;
  --color-primary: #ffea00;;
  --color-secondary: #262626;
  --color-text: #111111;
  --color-accent: #ff9d14;
  --font-primary: var(--font-poppins);
  --font-secondary: var(--font-dmsans);
} 

@layer base{
  body{
    @apply bg-background text-text font-secondary
  }

  h1{
    @apply text-[42px] md:text-[64px] uppercase font-bold tracking-tight font-primary;
  }

  h3{
    @apply  text-xs md:text-lg uppercase font-semibold tracking-tight font-primary;
  }
}

@layer theme{
  .dark {
    --color-background: #111111;
    --color-primary: #ffea00;
    --color-secondary: #d9d9d9;;
    --color-text: #eae9fc;
    --color-accent: #eb8900;
    --font-primary: var(--font-poppins);
    --font-secondary: var(--font-dmsans);
  }
}

.navItem {
  @apply text-text font-semibold uppercase tracking-wide text-xs ease-in-out duration-300 hover:opacity-50 transition-all;
}
